<!DOCTYPE html>
<html>

<head>
  <title>Grid {{ grid_id }}</title>
  <style>
    table {
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    td {
        border: 1px solid black;
        width: 50px;
        height: 50px;
        text-align: center;
    }

    td:nth-child(2) {
        background-color: green;
    }

    tr:nth-child(2) td {
        background-color: yellow;
    }

    tr:nth-child(2) td:nth-child(2) {
        font-weight: bold;
        background-color: red;
    }
  </style>
</head>

<body>
  <table>
    {% for row in grid %}
    <tr>
      {% for value in row %}
      <td>{% if value is none %}&nbsp;{% else %}{{ value }}{% endif %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</body>

</html>